<!--Body content-->
<div class="container @product-list">
  <div class="row text-right searchsort__group">
    <form class="search__form" role="search">
      <div class="form-group search__wrap">
        <input type="text" class="form-control search__input" placeholder="Search" ng-model="query">
        <i class="mdi-action-search search__icon"></i>
      </div>
    </form>
    <p class="navbar-gap">Sort by:</p>
    <div class="form-control-wrapper navbar-gap">
      <select class="form-control" ng-model="orderSort">
        <option value="name">Alphabetical</option>
        <option value="id">Newest</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
  <div class="row">
    <h2 class="h2">{{categoryName}}</h2>
    <div class=" [ col-xs-12 col-sm-6 ] product__wrap" ng-repeat="product in products | filter:query | orderBy:orderSort" ng-class="{'pull-right': product.id == 3}">
      <a href="#/product/{{product.code}}" class="block-center">
        <img ng-src="{{product.images[0]}}" class="product__img --list">
      </a>
      <a href="#/product/{{product.code}}" class="block-center">
        <h2 class="theme__font --productname">{{product.name}}</h2>
      </a>
    </div>
  </div>
</div>