<div class="container">
  <div class="product row @product-detail">
    <div class="col-xs-12 center-block clearfix" ng-hide="product.soldOut">
      <product-title></product-title>
      <div class="gallery">
    			<!-- <img ng-src="{{mainImageUrl}}" alt="{{product.name}}" style="width:350px"> -->
      		<!-- <ul class="list-inline thumbs"> -->
      			<!-- <li class="thumbnail" ng-repeat="image in product.images"> -->
      				<!-- <img alt="{{product.name}}" ng-src="{{image}}" style="width:100px"  ng-click="setImage(image)"> -->
      			<!-- </li> -->
      		<!-- </ul> -->
      		<!-- We're only changing the top of the file -->
        <div class="product-images clearfix">
          <img ng-src="{{img}}" ng-repeat="img in product.images" class="product" ng-class="{active:mainImageUrl==img}">
        </div>
        <ul class="product-thumbs clearfix">
          <li class="product-thumbs__list" ng-repeat="img in product.images">
            <img class="product-thumbs__img" ng-src="{{img}}" ng-mouseenter="setImage(img)">
          </li>
        </ul>
      </div>
      <div class="+clearBoth">
        <a href="#/cart/{{product.code}}" class="[ btn btn-raised ] [ theme__btn --primary ] pull-right" ng-show="product.canPurchase">Add to Cart</a>
        <h1 class="theme__head --productname">{{product.name}}</h1>
      </div>
      <p class="theme__font">{{product.description}}</p>
      <h4 class="theme__head">รายละเอียด</h4>
      <p class="theme__font">รหัสสินค้า: {{product.code}}</p>
      <p class="theme__font">{{product.description}}</p>
      <ul class="product-property">
        <h4 class="theme__head">คุณสมบัติ</h4>
        <li class="product-property__list theme__font">ขนาด: {{product.size}}</li>
        <li class="product-property__list theme__font">ความหนา: {{product.thickness}}</li>
        <li class="product-property__list theme__font" fabric>ลายผ้า: </li>
        <li class="product-property__list theme__font">ภายใน: {{product.inside}}</li>
        <li class="product-property__list theme__font">การทำความสะอาด: {{product.cleaness | checkmark }}</li>
      </ul>
      <div>
        <h4 class="theme__head">คำติชม</h4>
        <div ng-repeat="review in product.reviews">
          <blockquote class="theme__font">
            <strong class="theme__font">{{review.stars}} Stars</strong>
            {{review.body}}
            <cite class="theme__font clearfix">— {{review.author}}</cite>
          </blockquote>
        </div>
        <form name="reviewForm" ng-submit="reviewForm.$valid && addReview(product)" novalidate>
          <!--  Live Preview -->
          <blockquote class="theme__font">
              <strong class="theme__font">{{review.stars}} Stars</strong>
              {{review.body}}
              <cite class="theme__font clearfix">— {{review.author}}</cite>
          </blockquote>

          <!--  Review Form -->
          <fieldset class="form-group">
            <select class="form-control" ng-model="review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                <option value="">โปรดให้คะแนนสินค้า</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control" ng-model="review.body"  placeholder="โปรดให้คำแนะนำสินค้า" title="Review" required></textarea>
          </fieldset>
          <fieldset class="form-group">
            <input type="email" class="form-control" ng-model="review.author" placeholder="jimmyDean@example.org" title="Email" required />
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" class="[ btn theme__btn --primary ] pull-right" value="Submit Review" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
