<!--Body content-->
<div class="container @product-list">
  <div class="row">
    <div class="products" ng-repeat="product in products | filter:query | orderBy:orderSort">
      <div ng-if="$odd">
        <div class="product-list-wrap col-xs-12 col-sm-6">
          <a href="#/seatpad/{{product.code}}" class="thumb product-listing">
            <img ng-src="{{product.images[0]}}" class="thumb product-listing-img">
          </a>
          <a href="#/seatpad/{{product.code}}" class="product-listing-name btn btn-flat btn-default withripple">
            <h2 class="product__head --name">{{product.name}}</h2>
            <div class="ripple-wrapper"></div>
          </a>
        </div>
        <div class="clearfix hidden-xs"></div>
      </div>
      <div ng-if="$even">
        <div class="product-list-wrap col-xs-12 col-sm-6">
          <a href="#/seatpad/{{product.code}}" class="thumb product-listing">
            <img ng-src="{{product.images[0]}}" class="thumb product-listing-img">
          </a>
          <a href="#/seatpad/{{product.code}}" class="product-listing-name btn btn-flat btn-default withripple">
            <h2 class="product__head --name">{{product.name}}</h2>
            <div class="ripple-wrapper"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>