<!--Body content-->
  <section class="container nav-gallery__container">
    <figure class="row home-gallery__wrap change-gallery-arrow">
      <ul class="js-gallery-main" homegal>
          <li>
            <a href="#/product" target="_self" class="gallery__link">
              <img class="gallery__img" src="images/slide-img1.jpg" alt="เบาะรองนั่ง 17x17นิ้ว ผูกกับเก้าอี้ไม้" title="เบาะรองนั่ง 17x17นิ้ว ผูกกับเก้าอี้ไม้" />
            </a>
          </li>
          <li>
            <a href="#/product" target="_self" class="gallery__link">
              <img class="gallery__img" src="images/slide-img2.jpg" alt="เบาะรองนั่ง 65x65นิ้ว ปิดนิคในสวน" title="เบาะรองนั่ง 65x65นิ้ว ปิดนิคในสวน" />
            </a>
          </li>
          <li>
            <a href="#/product" target="_self" class="gallery__link">
              <img class="gallery__img" src="images/slide-img3.jpg" alt="หมอนอิง ขนาดต่างๆ" />
            </a>
          </li>
      </ul>
      <header class="brand-nav__wrap">
          <hgroup class="brand-title__bg">
            <h1 class="brand-title__wrap"><a class="brand__title" href="#/product">Cuddle</a></h1>
            <h2 class="brand__product">Seatpad &amp; Cushion</h2>
          </hgroup>
      </header>
      <div class="nav__icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav__container">
        <a class="nav__link" href="#/product" scroll-to="home">Home</a>
        <a class="nav__link" href="#/product" scroll-to="about">About</a>
        <a class="nav__link" href="#/product" scroll-to="product">Products</a>
        <a class="nav__link" href="#/product" scroll-to="contact">Contact</a>
      </nav>
    </figure>
  </section>
<section id="about" class="container">
  <div class="row @about">
    <div class="about-gallery__container">
      <figure class="about-gallery__wrap">
        <ul class="js-gallery-about change-gallery-arrow" aboutgal>
            <li>
              <a href="#/product" target="_self">
                <img class="gallery__img" src="images/about-cushion-1.jpg" alt="หมอนอิง" title="หมอนอิง" />
              </a>
            </li>
            <li>
              <a href="#/product" target="_self">
                <img class="gallery__img" src="images/about-cushion-2.jpg" alt="เบาะรองนั่ง 65x65นิ้ว ปิดนิคในสวน" title="เบาะรองนั่ง 65x65นิ้ว ปิดนิคในสวน" />
              </a>
            </li>
            <!-- <li>
              <a href="#/product" target="_self">
                <img class="gallery__img" src="/seatpadStore/images/slide-img3.jpg" alt="หมอนอิง ขนาดต่างๆ" />
              </a>
            </li> -->
        </ul>
      </figure>
    </div>
    <article class="about-text__container">
      <blockquote class="head --quote">Home Sweeter Home</blockquote>
      <p class="content">Cuddle เป็นผู้ผลิตเบาะรองนั่งและหมอนอิง มีขนาดและรูปแบบที่หลากหลาย รวมถึงเนื้อผ้าและลายผ้า เพื่อตอบสนองความต้องการของลูกค้าอย่างแท้จริง เบาะรองนั่งมีสองขนาด ทั้งใช้นั่งบนพื้นเหมาะกับโต๊ะญี่ปุ่น สวดมนต์ นั่งสมาธิ หรือนำไปถวายที่วัด นอกจากนี้ยังไว้สำหรับเป็นเบาะบนเก้าอี้ เพื่อความสบายในการนั่ง คู่กับหมอนอิงบนโซฟาอีกด้วย</p>
      <p class="content">ทั้งนี้เรายังรับผลิตตาม ORDER ลูกค้าทุกขนาด ทุกสี จัดส่งตรงตามเวลาที่กำหนดอีกด้วย</p>
    </article>
  </div>
</section>
<section id="product" class="container @product">
  <div class="row">
    <h2 class="col-xs-12 col-sm-5 head --h2">Product</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 search-filter__container">
      <form name="searchForm" class="search__form" role="search">
        <div class="form-group search__wrap pull-left">
          <input type="text" name="searchInput" class="form-control search__input --primary" placeholder="Search" ng-model="query">
          <i class="mdi-action-search search__icon --primary"></i>
        </div>
        <div class="form-control-wrapper navbar-gap filter__container pull-left">
          <select name="searchOrder" class="form-control" ng-model="orderSort">
            <option value="name">Alphabetical</option>
            <option value="id">Newest</option>
          </select>
          <span class="material-input"></span>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-hide="searchForm.$dirty" ng-show="searchForm.searchInput.$pristine">
    <div class="col-xs-12 col-sm-5"><h3 class="head --h3 --line">Seatpads</h3></div>
    <div class="col-xs-12 col-sm-7">
      <p class="content seatpad__content
      ">
        เบาะรองนั่ง cuddle มีหลากหลายรุ่น เพื่อตอบรับกับทุกการใช้งาน พร้อมให้คุณเลือกได้ทั้งขนาด เนื้อผ้าและลายผ้าตามความชอบ รวมถึงองค์ประกอบภายใน ได้รูปทรงมาตรฐาน ประณีต เกรด A ไม่ยุบตัวง่าย มีเชือกสำหรับผูกกับเก้าอี้ นั่งได้สบาย ไม่ปวดเมื่อย มีซิปถอดผ้าซักได้
      </p>
    </div>
  </div>
  <div class="row" ng-class="{'no-text': searchForm.$dirty, 'order-alphabet': searchForm.searchOrder.$dirty }">
    <div class=" [ col-xs-12 col-sm-6 ] product__wrap text-center" ng-repeat="product in products | filter:query | orderBy:orderSort" ng-class="{'item-last': product.id == 5}">
      <a href="#/product/{{product.code}}/{{product.fabric}}" class="block-center" target="_blank">
        <img ng-src="{{product.images[0]}}" class="product__img --list">
      </a>
      <h2 class="block-center">
        <a href="#/product/{{product.code}}/{{product.fabric}}" class="head --topic" target="_blank">{{product.name}}</a>
      </h2>
    </div>
  </div>
  <div class="cushion__wrap" ng-hide="searchForm.$dirty" ng-show="searchForm.searchInput.$pristine">
    <div class="col-xs-12 col-sm-5"><h3 class="head --h3 --line">Cushions</h3></div>
    <div class="col-xs-12 col-sm-7">
      <p class="content">
        หมอนอิง และปลอกหมอนอิง cuddle ผลิตจากผ้าที่มีคุณภาพ หลากหลาย สวยน่ารัก วางบนโซฟา ทำให้ห้องดูสดใส มีชีวิตชีวา วางประดับตกแต่งบ้านได้เป็นอย่างดี ภายในใช้ไส้ใย POLYESTER คุณภาพ นิ่มน่ากอด ทั้งยังมีซิปถอดผ้าซักได้ ทำให้ไม่ต้องกังวลเรื่องการทำความสะอาด
      </p>
    </div>
  </div>
</section>
<section id="contact" class="container @contact">
  <div class="row">
    <div class="col-xs-12 col-sm-5 contact-text__container">
      <h2 class="head --h2 --line">Contact</h2>
      <address class="content">
      ที่อยู่ : 87 เพชรเกษม 19 แยก 6 <br>
      แขวง ปากคลองภาษีเจริญ เขต ภาษีเจริญ กทม 10160 <br>
      โทรศัพท์ : 02-869-0174, 081-444-3301, 083-545-5445 <br>
      แฟกซ์ : 02-457-0854 <br>
      อีเมล : <a href="mailto:promthong@hotmail.com">promthong@hotmail.com</a>
      </address>
      <a target="_blank" href="javascript:printImg();"><i class="mdi-action-print contact__icon"></i>พิมพ์แผนที่</a>
    </div>
    <div class="col-xs-12 col-sm-7 contact-form__container">
      <form action="" class="contact-form__wrap">
        <fieldset class="form__group --contact clearfix">
          <div class="col-xs-12 col-sm-6 input__wrap">
            <input type="text" class="form-control contact__input --primary" name="name" placeholder="Name">
          </div>
          <div class="col-xs-12 col-sm-6 input__wrap">
            <input type="text" class="form-control contact__input --primary" name="email" placeholder="Email">
          </div>
        </fieldset>
        <fieldset class="form__group --contact clearfix">
          <div class="col-xs-12 input__wrap">
            <input type="text" class="form-control contact__input --primary" name="subject" placeholder="Subject">
          </div>
        </fieldset>
        <fieldset class="form__group --contact clearfix">
          <div class="col-xs-12 input__wrap">
            <textarea class="form-control contact__textarea --primary" name="message" placeholder="Message"></textarea>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <footer class="row footer__container">
    <div class="col-xs-12 text-center">
      <p class="content">&copy; Copyright 2013 Cuddle.com. All Rights Reserved.</p>
    </div>
  </footer>
</section>