<div class="container">
  <div class="product row @product-detail">
    <div class="col-xs-12 center-block clearfix" ng-hide="product.soldOut">
      <product-title></product-title>
      <div class="gallery">
    			<!-- <img ng-src="{{mainImageUrl}}" alt="{{product.name}}" style="width:350px"> -->
      		<!-- <ul class="list-inline thumbs"> -->
      			<!-- <li class="thumbnail" ng-repeat="image in product.images"> -->
      				<!-- <img alt="{{product.name}}" ng-src="{{image}}" style="width:100px"  ng-click="setImage(image)"> -->
      			<!-- </li> -->
      		<!-- </ul> -->
      		<!-- We're only changing the top of the file -->
        <div class="product-images clearfix">
          <img ng-src="{{img}}" ng-repeat="img in product.images" class="product" ng-class="{active:mainImageUrl==img}">
        </div>
        <ul class="product-thumbs clearfix">
          <li class="product-thumbs__list" ng-repeat="img in product.images">
            <img class="product-thumbs__img" ng-src="{{img}}" ng-mouseenter="setImage(img)">
          </li>
        </ul>
      </div>
      <div class="+clearBoth">
        <button class="pull-right" ng-show="product.canPurchase">Add to Cart</button>  
        <h1 class="product__head --name">{{product.name}}</h1>
      </div>
      <p>{{product.description}}</p>
      <h4 class="product__head">รายละเอียด</h4>
      <p>รหัสสินค้า: {{product.code}}</p>
      <p>{{product.description}}</p>
      <ul class="product-property">
        <h4 class="product__head">คุณสมบัติ</h4>
        <li class="product-property__list">ขนาด: {{product.size}}</li>
        <li class="product-property__list">ความหนา: {{product.thickness}}</li>
        <li class="product-property__list">ลายผ้า: {{product.fabric}}</li>
        <li class="product-property__list">ภายใน: {{product.inside}}</li>
        <li class="product-property__list">การทำความสะอาด: {{product.cleaness | checkmark }}</li>
      </ul>
    </div>
  </div>
</div>