<!doctype html>
<html lang="en" ng-app="seatpadStore">
<head>
  <meta charset="utf-8">
  <title>Seatpad Store</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material-wfont.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> 
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/apps.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/animations.js"></script>
</head>
<body class="theme__body">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">เบาะรองนั่ง</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <div class="navbar-right">
        <form class="navbar-form pull-left search__form" role="search">
          <div class="form-group search__wrap">
            <input type="text" class="form-control search__input" placeholder="Search" ng-model="query">
            <i class="mdi-action-search search__icon"></i>
          </div>
        </form>
<!--         <div class="navbar__sort pull-left">
          <p class="navbar-item navbar-gap">Sort by:</p>
          <div class="form-control-wrapper navbar-item">
            <select class="form-control" ng-model="orderSort">
              <option value="name">Alphabetical</option>
              <option value="id">Newest</option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>
 -->      </div>   
    </div> 
  </div> 
  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
</body>
</html>