.head {
  color: $head-color;
  &.\--h2 {
    font: 700 42px $head-font;
    letter-spacing: 2px;
    line-height: 0.8;
  }
  &.\--h3 {
    font: 300 20px $content-font;
    letter-spacing: 2px;
  }
  &.\--topic {
    font: 400 16px $content-font;
    letter-spacing: 1px;
  }
  &.\--line {
    @include underline-left($darker-gold, 20%, 0);
    @media screen and (min-width: 768px) {
      @include underline-left($darker-gold, 15%, 0);
    }
  }
}

.content{
  font:300 15px $content-font;
  color: $content-color;
}

.blockquote {
  border-left: 3px solid $input-color;
  padding: 0 20px 10px 20px;
}

a, .link {
  color: $link-color;
  cursor: pointer;
  &:hover, &:active, &:focus {
    color: $hilight-color;
    text-decoration: none;
  }
}